body {
  /* background-image: url('/images/background.jpg'); */
  background-image: url("/images/background.jpg")!important;
	width: 100%;
	background-size: cover;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
  height: 100vh;
}